<% provide(:title, @recipe.Title) %>

<div itemscope itemtype="http://schema.org/Recipe">

  <h1 itemprop="name">
    <%= @recipe.Title %>
  </h1>


  <%- if !ingredients.blank? -%>
      <div class="breakoutr">
        <%= link_to image_tag(getfav(@recipe.id), title: "Добавить в избранное", class: "fav", id: @recipe.id) %>
        <h2>Ингредиенты:</h2>
        <%- ingredients.each do |e| -%>
            <h3> <%= e["name"] %> </h3>
            <%- e["childs"].each do |l| -%>
                <div itemprop="ingredients">
                  <%= l["id"] -%>&nbsp <%= l["count"] -%> <%= l["type"] -%> <%= l["comment"] -%> <br>
                </div>
            <%- end -%>
        <%- end -%>
      </div>
  <%- end -%>

  <p itemprop="recipeInstructions">
    <%= @recipe.Description.mb_chars.html_safe %>
  </p>

  <% if !steps.blank?
       steps.each do |e| %>
          <p itemprop="recipeInstructions">
            <%= e["text_ru"].mb_chars.html_safe %>
          </p>
          <%= image_tag e["src_big"], style: "max-width:100%;", itemprop: "image" %>
      <% end
         end %>
  <br><br>


  Рейтинг:
  <div id="star"></div>
  <script>
      $('#star').raty({
          readOnly: true,
          score: <%= @recipe.Rating %>,
          path: '/assets'
      });
  </script>
  <br>
</div>

<% if !android_device? %>

    <script type="text/javascript">(function () {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso == undefined) {
            window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
        }
    })();</script>

    <span class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04"
          data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></span>

    <br><br>
<% end %>

<% if false %>
    <%= form_for(@recipe) do |f| %>
        <%= f.check_box :IsNew %>
        <%= f.submit "Отправить" %>
    <% end %>
<% end %>

<% if @comments.count > 0 %>
    <h3>Комментариев (<%= @comments.count %>)</h3>
    <table>
      <%= render @comments %>
    </table>
<% end

   @comment = @recipe.comments.build %>

<section>
  <%= render 'shared/comment_form' %>
</section>


<br><br>
<%= link_to 'Главная', root_path %>
© MaxSoft, 2015
