<p>
  <strong>Дата:</strong>
  <%= @recipe.PublishDate %>
</p>

<h1>
  <%= @recipe.Title %>
</h1>

<p>
  <%= @recipe.Description.mb_chars.html_safe %>
</p>

<%= image_tag array[0]["src_big"] if @recipe.isStepPhoto==0 %>

<% if @recipe.isStepPhoto==1
     array.each do |e| %>
        <p>
          <%= e["text_ru"] %>
        </p>
        <%= image_tag e["src_big"] %>
    <% end
       end %>


<br><br>
<%= link_to 'Back', root_path %>
