<h1>
  <%= @recipe.Title %>
</h1>

<div class="breakoutr">
  <h2>Состав:</h2>
  <% ingredients.each do |e| %>
      <h3>    <%= e["name"] %> </h3>
      <% e["childs"].each do |l| %>
          <tr>
            <td> <%= l["id"] %>&nbsp</td>
            <td> <%= l["count"] %> </td>
            <td> <%= l["type"] %> </td>
            <td> <%= l["comment"] %> </td>
          </tr>
          <br>
      <% end %>
  <% end %>
</div>

<p>
  <%= @recipe.Description.mb_chars.html_safe %>
</p>

<%= image_tag steps[0]["src_big"] if @recipe.isStepPhoto==0 %>

<% if @recipe.isStepPhoto==1
     steps.each do |e| %>
        <p>
          <%= e["text_ru"].mb_chars.html_safe %>
        </p>
        <%= image_tag e["src_big"] %>
    <% end
       end %>
<br>


<br><br>
<%= link_to 'Главная', root_path %>
