<% provide(:title, @recipe.Title) %>

<h1>
  <%= @recipe.Title %>
</h1>


<%- if !ingredients.blank? -%>
    <div class="breakoutr">
      <%= link_to image_tag(getfav(@recipe.id), title: "Добавить в избранное", class: "fav", id: @recipe.id) %>
      <h2>Ингредиенты:</h2>
      <%- ingredients.each do |e| -%>
          <h3> <%= e["name"] %> </h3>
          <%- e["childs"].each do |l| -%>
              <%= l["id"] -%>&nbsp <%= l["count"] -%> <%= l["type"] -%> <%= l["comment"] -%> <br>
          <%- end -%>
      <%- end -%>
    </div>
<%- end -%>

<p>
  <%= @recipe.Description.mb_chars.html_safe %>
</p>

<% if !steps.blank?
     steps.each do |e| %>
        <p>
          <%= e["text_ru"].mb_chars.html_safe %>
        </p>
        <%= image_tag e["src_big"].gsub("selcdn.ru", "selcdn.com"), style: "max-width:100%;" %>
    <% end
       end %>
<br><br>


Рейтинг:
<div id="star"></div>
<script>
    $('#star').raty({
        readOnly: true,
        score: <%= @recipe.Rating %>,
        path: '/assets'
    });
</script>
<br>

<% if !android_device? %>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone></g:plusone>

    <div class="fb-like" data-href="<%= recipe_url @recipe %>"
         data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

    <% if !request.host.include? "localhost" %>
        <div id="vk_like"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "button"});
        </script>
    <% end %>
    <br><br>
<% end %>

<% if @comments.count > 0 %>
    <h3>Комментариев (<%= @comments.count %>)</h3>
    <table>
      <%= render @comments %>
    </table>
<% end

   @comment = @recipe.comments.build %>

<section>
  <%= render 'shared/comment_form' %>
</section>


<br><br>
<%= link_to 'Главная', root_path %>
© MaxSoft, 2015
