<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @recipe.Date %>
</p>

<h1>

  <%= @recipe.Title %>
</h1>

<p>
  <strong>Desc:</strong>
  <%= @recipe.Description.mb_chars.html_safe %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @recipe.Media %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category_id %>
</p>

<%= link_to 'Back', recipes_path %>
