<% provide(:title, @recipe.Title) %>

<h1>
  <%= @recipe.Title %>
</h1>

<% if !ingredients.blank? %>
    <div class="breakoutr">
      <h2>Ингредиенты:</h2>
      <% ingredients.each do |e| %>
          <h3> <%= e["name"] %> </h3>
          <% e["childs"].each do |l| %>
              <tr>
                <td> <%= l["id"] %>&nbsp</td>
                <td> <%= l["count"] %> </td>
                <td> <%= l["type"] %> </td>
                <td> <%= l["comment"] %> </td>
              </tr>
              <br>
          <% end %>
      <% end %>
    </div>
<% end %>

<p>
  <%= @recipe.Description.mb_chars.html_safe %>
</p>

<% if !steps.blank?
     steps.each do |e| %>
        <p>
          <%= e["text_ru"].mb_chars.html_safe %>
        </p>
        <%= image_tag e["src_big"], style: "max-width:100%;" %>
    <% end
       end %>
<br>
<br>
Рейтинг:
<div id="star"></div>
<script>
    $('#star').raty({
        readOnly: true,
        score: <%= @recipe.Rating %>,
        path: '/assets'
    });
</script>
<br>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone></g:plusone>

<div class="fb-like" data-href="<%= recipe_url @recipe %>"
     data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<% if !request.host.include? "localhost" %>
    <div id="vk_like"></div>
    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button"});
    </script>
<% end %>
<br><br>

<% if @comments.count > 0 %>
    <h3>Комментариев (<%= @comments.count %>)</h3>
    <table>
      <%= render @comments %>
    </table>
<% end

   @comment = @recipe.comments.build %>

<section>
  <%= render 'shared/comment_form' if current_user %>
</section>

<br><br>
<% session[:recipe_id]= @recipe.id %>
<% if current_user %>
    <img src="<%= current_user.image %>" height="42" width="42">
    &nbsp&nbsp Вход выполнен <%= current_user.name %> &nbsp&nbsp
    <%= link_to "Выйти", signout_path, id: "sign_out" %>
<% else %>
    Войдите чтобы написать комментарий: <br>

    <%= link_to image_tag("signin.png", width: 150), "/auth/google_oauth2", id: "sign_in" %>
    <%= link_to image_tag("facebook.png", width: 150), "/auth/facebook", id: "sign_in" %>
    <%= link_to image_tag("vkontakte.png", width: 150), "/auth/vkontakte", id: "sign_in" %>
<% end %>

<br><br>
<%= link_to 'Главная', root_path %>
© MaxSoft, 2015
