<%= form_for(@comment) do |f| %>
    <div class="field span5">
      <%= f.text_area :content, size: "30x5", placeholder: "Написать комментарий" %>
      <%= f.hidden_field :recipe_id %>
      <%= f.hidden_field(:picture_cache) %>
      <div class="file_button_container">
        <%= f.file_field(:picture) %>
      </div>
    </div>
    <%= f.submit "Отправить", class: "offset1 btn btn-large btn-primary" %>
<% end %>