<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <%= csrf_meta_tags %>

</head>
<body>

<%= link_to image_tag("topsmall.jpg", style: "width:100%;"), root_path %>
<% if cookies[:nopost]!="1" %>
    <h4 class="box">
      <a class="close"> <%= image_tag "close.png" %> </a>
      <%= postinfo %>
    </h4>
<% end %>
<ul class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ul>

<%= yield %>

<%= link_to "Форум", "http://extender.tk", target: "_blank" unless android_device? %>
<br>
<%= link_to "Полная версия", mobile: 0 unless android_device? %>
<%= image_tag("footsmall.jpg", style: "width:100%;") %>
</body>
</html>
