Поиск по названию блюда или ингрeдиентам:

<%= render 'shared/search' %>

<%= link_to image_tag("hot.png", title: "Популярное", class: "hot"), recipes_popular_path %>
<h1><%= "ПОСТНОЕ" if post_menu? %> МЕНЮ</h1>


<div class="words">

    <% if !getfavs.blank? %>
        <h2>Избранные рецепты</h2>
        <% getfavs.each do |recipe| %>
            <%= render Recipe.find(recipe) %>
        <% end %>
    <% end %>

    <% cache ('t' + (post_menu? ? "1" : "0")) do %>
        <% @categories.each do |category| %>
            <h2><%= category.Title %></h2>
            <%= render category.categories.post(post_menu?) %>
            <%= render category if category.categories.blank? %>
        <% end %>
    <% end %>

    <br><br>
</div>
<%= image_tag "divider.png" %>
<h2><a href="/categories?post=<%= post_menu? ? 0 : 1 %>"> <%= post_menu? ? "ОБЫЧНОЕ" : "ПОСТНОЕ" %> МЕНЮ</a></h2>

<br>
© MaxSoft, 2015