<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Готовим дома. Коллекция кулинарных рецептов с фотографиями и советами по приготовлению, составом, рейтингом блюд">
  <meta name="keywords" content="рецепты, кулинарные, кулинария, кухня, салаты, блюда, закуски, торты, напитки">

  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=741644855925953&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Put this script tag to the <head> of your page -->
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>


</head>
<body>
<script type="text/javascript">
    VK.init({apiId: 4710282, onlyWidgets: true});
</script>
<%= link_to image_tag("top.jpg"), root_path %>

<% if cookies[:nopost]!="1" %>
    <h4 class="box">
      <a class="close"> <%= image_tag "close.png" %> </a>
      <%= postinfo %>
    </h4>
<% end %>

<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => " · " %>
</ol>


<br><br>
<aside class="span7">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <br><br>

</aside>
<aside class="span3">

  <br>
  <%= link_to "Форум", "http://extender.tk", target: "_blank" %>
  <br>
  <%= link_to "Мобильная версия", mobile: 1 %>
  <br><br>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-1351673544337847"
       data-ad-slot="2591225138"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>


<%= image_tag("footer.jpg") %>

</body>
</html>
